<div class="col-sm-12 container">
  <div class="col-md-12">
    <form id="todoForm" #todoForm="ngForm" (ngSubmit)="onTodoSubmitForm(todoForm);" novalidat>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">{{mode}} Todo</legend>
        <div class="form-group row">
          <label for="firstName" class="col-md-2 col-form-label">Title</label>
          <div class="col-md-5">
            <input type="text" class="form-control" #title="ngModel" name="title" [(ngModel)]="todoDetail.title"
              placeholder="Title" required>
            <div [hidden]="title.valid || (title.pristine && !todoForm.submitted)" class="text-danger">
              title is required.
            </div>
          </div>
        </div>
        <div class="form-group row mt-3">
          <label for="middleName" class="col-md-2 col-form-label">Description</label>
          <div class="col-md-5">
            <input type="text" class="form-control" #description="ngModel" name="description"
              [(ngModel)]="todoDetail.description" placeholder="Middel Name" required>
            <div [hidden]="description.valid || (description.pristine && !todoForm.submitted)" class="text-danger">
              description is required.
            </div>
          </div>
        </div>
        <div class="form-group row mt-3">
          <label for="lastName" class="col-md-2 col-form-label">Completed</label>
          <div class="col-md-5">
            <select class="form-control" #done="ngModel" name="done" [(ngModel)]="todoDetail.done" required>
                <option [ngValue]="null">Choose a field</option>

                <option value="true">true</option>
              <option value="false">false</option>
            </select>
            <div [hidden]="done.valid || (done.pristine && !todoForm.submitted)" class="text-danger">
              completed is required.
            </div>
          </div>
        </div>
        <div class="form-group row mt-3">
          <div class="col-md-7 text-right">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button type="button" (click)="onClickCancel()" class="btn btn-primary m-2">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
